<ion-header>

  <ion-navbar>
    <ion-title>Tópico de discussão</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="this.api.loading">
	      <ion-spinner></ion-spinner>
	    </button>
      <button ion-button icon-only (click)="delete(form.value)" *ngIf="form.controls._id.value">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="save()" [disabled]="!isReadyToSave" strong>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form *ngIf="form" [formGroup]="form">
    <ion-item>
      <ion-label stacked>Assunto do tópico*:</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-label stacked>Palavras chave:</ion-label>
    <tag-input formControlName="tags" [placeholder]="'+ Palavra chave'" [secondaryPlaceholder]="'+ Palavra chave'" [separatorKeyCodes]="[9]">
      <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="autocompleteTags" ></tag-input-dropdown>
    </tag-input>
    <ion-item *ngIf="!form.controls._id.value">
      <ion-label stacked>Mensagem*:</ion-label>
      <ion-textarea formControlName="content"></ion-textarea>
    </ion-item>
  </form>
  <br>
</ion-content>  