<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()" [disabled]="!isReadyToSave" strong>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event, this.form)" />
    <div class="preview-image-wrapper" (click)="getPicture()">
      <div class="preview-image-placeholder" *ngIf="!this.form.controls.picture.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="preview-image" [style.backgroundImage]="this.api.preview" *ngIf="this.form.controls.picture.value"></div>
      <div *ngIf="this.api.loading">Enviando imagem...</div>
    </div>
    <ion-item *ngIf="this.form.controls._rev.value">
      <h2 ion-text *ngIf="this.form.controls._rev.value"> {{this.form.controls.name.value}} </h2>
    </ion-item>
    <ion-item *ngIf="!this.form.controls._rev.value">
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="name" (change)="checkConflict()"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.conflict">
      <p ion-text>Já existe um item cadastrado 
        com esse nome por favor 
        <a (click)="edit()">edite-o</a> 
      </p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ciclo</ion-label>
      <ion-select formControlName="cycle" interface="popover" >
        <ion-option *ngFor="let cycle of Object.keys(items.cycles)" [value]="cycle">{{items.cycles[cycle]}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Estrato</ion-label>
      <ion-select formControlName="stratum" interface="popover">
        <ion-option *ngFor="let stratum of Object.keys(items.stratums)" [value]="stratum">{{items.stratums[stratum]}}</ion-option>
      </ion-select>
    </ion-item>
    <div formArrayName="additional_fields" *ngFor="let additional_field of form.get('additional_fields').controls; let i = index;">
      <div [formGroupName]="i">
        <div *ngIf="i < items.additional_fields.length">
          <ion-item>
            <ion-label stacked>{{form.controls.additional_fields.controls[i].controls.name.value}}</ion-label>
            <ion-textarea formControlName="content"></ion-textarea>
          </ion-item>
        </div>
        <div *ngIf="i >= items.additional_fields.length">
          <br>
          <ion-item>
            <ion-label stacked>Título do novo campo</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Conteúdo</ion-label>
            <ion-textarea formControlName="content"></ion-textarea>
          </ion-item>
        </div>
      </div>
    </div>
      <br>
      <ion-buttons end>
        <button ion-button  icon-end small (click)="addAdditionalField()" color="light">
          Adicionar mais informações
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
      <br>
  </form>
</ion-content>  