<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only left (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()" [disabled]="!isReadyToSave" strong>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.picture.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="this.preview" *ngIf="this.form.controls.picture.value"></div>
      <div *ngIf="this.loading">Enviando imagem...</div>
    </div>
    <ion-item *ngIf="this.form.controls._rev.value">
      <h2 ion-text *ngIf="this.form.controls._rev.value"> {{this.form.controls.name.value}} </h2>
    </ion-item>
    <ion-item *ngIf="!this.form.controls._rev.value">
      <ion-input type="text" placeholder="Nome" formControlName="name" (change)="checkConflict()"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.conflict">
      <p ion-text>Já existe um item cadastrado 
        com esse nome por favor 
        <a (click)="edit()">edite-o</a> 
      </p>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Descrição" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Ciclo</ion-label>
      <ion-select formControlName="cycle" interface="popover" >
        <ion-option *ngFor="let cycle of Object.keys(items.cycles)" [value]="cycle">{{items.cycles[cycle]}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Estrato</ion-label>
      <ion-select formControlName="stratum" interface="popover">
        <ion-option *ngFor="let stratum of Object.keys(items.stratums)" [value]="stratum">{{items.stratums[stratum]}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Recomendações de Uso" formControlName="use"></ion-textarea>
    </ion-item>
  </form>
</ion-content>  