<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="create()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="create()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.picture.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.picture.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Estrato</ion-label>
        <ion-select formControlName="stratum" interface="popover">
          <ion-option value="baixo" checked="true">Baixo</ion-option>
          <ion-option value="medio">Médio</ion-option>
          <ion-option value="alto">Alto</ion-option>
          <ion-option value="emergente">Emergente</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Ciclo</ion-label>
        <ion-select formControlName="cycle" interface="popover">
          <ion-option value="placenta1" checked="true">Placenta 1 (Até 3 meses)</ion-option>
          <ion-option value="placenta2" checked="true">Placenta 2 (3 meses a 1 ano)</ion-option>
          <ion-option value="secundaria1">Secundária 1 (1 a 10 anos)</ion-option>
          <ion-option value="secundaria2">Secundária 2 (10 a 25 anos)</ion-option>
          <ion-option value="secundaria3">Secundária 3 (25 a 50 anos)</ion-option>
          <ion-option value="climax">Climax (Mais de 50 anos)</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>  