<ion-header>
  <ion-navbar>
    <ion-title>Recuperar senha</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="forgotPassword()">
    <ion-item>
      <ion-label stacked>Digite seu email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <h4 *ngIf="msg">{{msg}}</h4>
    <div>
      <button ion-button color="primary" block [disabled]="!isReadyToSave">CONTINUAR</button>
    </div>
  </form>
</ion-content>
