<ion-header>
  <ion-navbar>
    <ion-title>Recuperar senha</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form *ngIf="emailForm && !msg" [formGroup]="emailForm" (ngSubmit)="forgotPassword()">
    <ion-item>
      <ion-label stacked>Digite seu email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <button ion-button color="primary" block [disabled]="!emailForm.controls.email.value">CONTINUAR</button>
    </div>
  </form>
  <form *ngIf="codeForm && msg && !codeConfirmed" [formGroup]="codeForm" (ngSubmit)="validateCode()">
    <br>
    <br>
    <h6 class="text-center">{{msg}}</h6>
    <br>
    <ion-item>
      <ion-label stacked>Digite o código recebido no seu email:</ion-label>
      <ion-input type="text" formControlName="passwordCode"></ion-input>
    </ion-item>
    <div>
      <button ion-button color="primary" block [disabled]="!codeForm.controls.passwordCode.value || codeForm.controls.passwordCode.value.length != 4">VALIDAR CÓDIGO</button>
    </div>
  </form>
  <form *ngIf="passwordForm && msg && codeConfirmed" [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <ion-item>
      <ion-label stacked>Digite sua nova senha:</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Confirme sua nova senha:</ion-label>
      <ion-input type="password" formControlName="passwordConfirmation"></ion-input>
    </ion-item>
    <div>
      <button ion-button color="primary" block [disabled]="!isReadyToSave">CONTINUAR</button>
    </div>
  </form>
</ion-content>
