<ion-header>
  <ion-navbar>
    <ion-title *ngIf="plant">{{ plant.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="plant" *ngIf="plant">
    <img img-cache [source]="this.api.imageUrl(plant.picture, 'medium')">
    <div>
      <h5>{{plant.name}}</h5>
    </div>
    <div *ngIf="plant.scientific_name">
      <i>{{plant.scientific_name}}</i>
    </div>
    <p class="description">{{plant.description}}</p>
    <div *ngIf="plant.cycle">
      <h6>Ciclo </h6>
      <p>{{database.cycles[plant.cycle]}}</p>
    </div>
    <div *ngIf="plant.stratum">
      <h6>Estrato </h6>
      <p>{{database.stratums[plant.stratum]}}</p>
    </div>
    <div *ngIf="plant.harvest_time">
      <h6>Tempo de colheita </h6>
      <p>{{plant.harvest_time}}</p>
    </div>
    <div *ngIf="plant.spacing">
      <h6>Espaçamento </h6>
      <p>{{plant.spacing}}</p>
    </div>
    <div *ngFor="let additional_field of plant.additional_fields">
      <div *ngIf="additional_field.content">
        <h6>{{additional_field.name}} </h6>
        <p>{{additional_field.content}}</p>
      </div>
    </div>
    <user [item]="plant"></user>     
  </div>
</ion-content>
