<ion-header>
  <ion-navbar>
    <ion-title *ngIf="plant">{{ plant.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="plant" *ngIf="plant">
    <img img-cache [source]="this.api.imageUrl(plant.picture, 'medium')">
    <div *ngIf="plant.popular_name">
      <h5 class="popular_name">{{plant.popular_name.join(', ')}}</h5>
    </div>
    <div *ngIf="plant.scientific_name">
      <i>{{plant.scientific_name}}</i>
    </div>
    <p [innerHTML]="plant.description | safe: 'html'" class="preview"></p>
    <div *ngIf="plant.family">
      <h6>Família </h6>
      <p>{{plant.family.join(', ')}}</p>
    </div>
    <div *ngIf="plant.family">
      <h6>Sinonímia </h6>
      <p>{{plant.synonymy.join(', ')}}</p>
    </div>
    <div *ngIf="plant.category && plant.category.length">
      <h6>Categoria </h6>
      <p>{{plant.category.join(', ')}}</p>
    </div>
    <div *ngIf="plant.climate && plant.climate.length">
      <h6>Clima </h6>
      <p>{{plant.climate.join(', ')}}</p>
    </div>
    <div *ngIf="plant.origin && plant.origin.length">
      <h6>Origem </h6>
      <p>{{plant.origin.join(', ')}}</p>
    </div>
    <div *ngIf="plant.height && plant.height.length">
      <h6>Altura </h6>
      <p>{{plant.height.join(', ')}}</p>
    </div>
    <div *ngIf="plant.cycle">
      <h6>Ciclo: {{database.cycles[plant.cycle]}} </h6>
      <div class="info-chart">
        <canvas #cycleCanvas></canvas>
      </div>
    </div>
    <div>
      <h6>Estrato: {{database.stratums[plant.stratum]}} </h6>
      <div class="info-chart">
        <canvas #stratumCanvas></canvas>
      </div>
    </div>
    <div *ngIf="plant.harvest_time">
      <h6>Tempo de colheita </h6>
      <p>{{plant.harvest_time}}</p>
    </div>
    <div *ngIf="plant.spacing">
      <h6>Espaçamento </h6>
      <p>{{plant.spacing}}</p>
    </div>
    <div *ngFor="let additional_field of plant.additional_fields">
      <div *ngIf="additional_field.content">
        <h6>{{additional_field.name}} </h6>
        <p>{{additional_field.content}}</p>
      </div>
    </div>
    <div *ngIf="plant.medicinal && (plant.medicinal.indications || plant.medicinal.properties || plant.medicinal.parts_used)">
      <h6>Uso medicinal</h6>
      <p *ngIf="plant.medicinal.indications"><strong>Indicações: </strong>{{plant.medicinal.indications.join(', ')}}</p>
      <p *ngIf="plant.medicinal.properties"><strong>Propriedades: </strong>{{plant.medicinal.properties.join(', ')}}</p>
      <p *ngIf="plant.medicinal.parts_used"><strong>Partes utilizadas: </strong>{{plant.medicinal.parts_used.join(', ')}}</p>
    </div>
    <div *ngIf="plant.warning">
      <p><strong>Alerta: {{plant.warning}}</strong></p>
    </div>
    <div *ngIf="plant.companion_plants && plant.companion_plants.length > 0">
      <h6>Plantas companheiras </h6>
      <ion-chip *ngFor="let p of plant.companion_plants">
        <ion-label>{{p}}</ion-label>
      </ion-chip>
    </div>
    <div *ngIf="plant.pictures && plant.pictures.length > 0">
      <h6>Fotos </h6>
      <span *ngFor="let picture of plant.pictures">
        <img img-cache [source]="this.api.imageUrl(picture, 'medium')">
      </span>
    </div>
    <div *ngIf="plant.source">
      <p><strong>Fonte: </strong> <a href="{{plant.source}}" target="_blank">{{plant.source}}</a></p>
    </div>
    <user [item]="plant"></user>
    <br>
    <comments [item]="plant" item_type="plant"></comments>
  </div>
</ion-content>
