page-plant {
  .item-profile {
    width: 100%;
    // background-position: center center;
    // background-size: cover;
    // // height: 250px;
  }

  .plant {
    width: 100%;
    background: white;
    p {
      white-space: pre-wrap;
    }
  }
}
