page-item-detail {
  .item-profile {
    width: 100%;
    // background-position: center center;
    // background-size: cover;
    // // height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    p {
      white-space: pre-wrap;
    }
  }
  .user {
    img {
      width: 20px;
      border-radius: 50%;
      margin-bottom: -5px;
    }
    p:first-child {
      font-size: 10px;
      color: #333333;
    }
    p {
      margin: 0;
      font-size: 12px;
    }
  }
}
