<ion-header>
  <ion-navbar>
    <ion-title>{{ items.currentItem.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <img class="item-profile" #picture [src]="this.api.url + 'static/medium/'+ items.currentItem.picture" /> -->
  <img-loader class="item-profile" #picture spinner="true" [src]="this.api.url + 'static/medium/'+ items.currentItem.picture" useImg></img-loader>
  <div class="item-detail" padding>
    <p class="description">{{items.currentItem.description}}</p>
    <div *ngIf="items.currentItem.cycle">
      <h6>Ciclo </h6>
      <p>{{items.cycles[items.currentItem.cycle]}}</p>
    </div>
    <div *ngIf="items.currentItem.stratum">
      <h6>Estrato </h6>
      <p>{{items.stratums[items.currentItem.stratum]}}</p>
    </div>
    <div *ngFor="let additional_field of items.currentItem.additional_fields">
      <div *ngIf="additional_field.content">
        <h6>{{additional_field.name}} </h6>
        <p>{{additional_field.content}}</p>
      </div>
    </div>
    <user [item]="items.currentItem"></user>     
  </div>
</ion-content>