<div *ngIf="this.form.controls">
	<div class="preview-image-wrapper" (click)="getPicture()">
	  <div class="preview-image-placeholder" *ngIf="!this.form.controls.picture.value && !this.api.loading">
      <ion-icon [name]="type == 'book' ? 'ios-bookmarks-outline' : 'ios-camera-outline'"></ion-icon>
      <ion-icon name=""></ion-icon>
      <div>
        Selecione {{ type == 'book' ? 'um livro PDF' : 'uma imagem' }} para enviar
      </div>
	  </div>
	  <img class="preview-image" [src]="this.api.preview" *ngIf="this.api.preview">
	  <div *ngIf="this.api.loading">
	    <ion-spinner></ion-spinner>
	    <br>
	    Enviando arquivo...
	  </div>
	</div>
	<div *ngIf="type == 'book'">
		<input type="file" accept="application/pdf" #fileInput style="visibility: hidden; height: 0px; display: none;" name="files[]" (change)="processWebImage($event, this.form)" />
	</div>
	<div *ngIf="type != 'book'">
		<input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px; display: none;" name="files[]" (change)="processWebImage($event, this.form)" />
	</div>
</div>
