<div *ngIf="this.form.controls">
	<div class="preview-image-wrapper" (click)="getPicture()">
	  <div class="preview-image-placeholder" *ngIf="!this.form.controls.picture.value && !this.api.loading">
	    <img src="assets/img/upload_picture.png">
	  </div>
	  <img class="preview-image" [src]="this.api.preview" *ngIf="this.api.preview">
	  <div *ngIf="this.api.loading">
	    <ion-spinner></ion-spinner>
	    <br>
	    Enviando imagem...
	  </div>
	</div>
	<input type="file" #fileInput style="visibility: hidden; height: 0px; display: none;" name="files[]" (change)="processWebImage($event, this.form)" />
</div>