<ion-header>
  <ion-navbar>
    <ion-title *ngIf="guide">{{ guide.title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="guide" *ngIf="guide">
    <p [innerHTML]="guide.content | safe: 'html'" class="ql-editor preview"></p>
    <br>
    <ion-chip *ngFor="let tag of guide.tags">
      <ion-label>{{tag}}</ion-label>
    </ion-chip>
    <br>
    <user [item]="guide"></user>     
    <br>
       
  </div>
</ion-content>
