page-feed {
	.card {
		img, h2 {
			cursor: pointer;
		}
		h2 {
			font-weight: bold;
			margin-bottom: 10px;
		}
	}
	.card-md {
    margin: 10px 0px;
    border-radius: 2px;
    width: calc(100% - 0px);
  }
}
