<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="filters.category != 'event'">{{filters.tag ? '#'+filters.tag : 'Rede Agroflorestal'}} </ion-title>
    <ion-title *ngIf="filters.category == 'event'">Eventos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div padding text-center *ngIf="filters.category == 'event'">
    <p>
      Este espaço é dedicado ao compartilhamento de eventos
    </p>
    <button ion-button (click)="add()">
      Adicionar evento
    </button>
  </div>
  <div padding text-center *ngIf="filters.category != 'event'">
    <p>
      Este espaço é dedicado ao compartilhamento de informações e eventos
    </p>
    <button ion-button (click)="add()">
      Adicionar postagem
    </button>
  </div>
  <div *ngIf="(!posts || posts.length < 1) && !searching" text-center padding>
    <ion-spinner></ion-spinner>
    <p>Carregando postagens...</p>
  </div>
  <posts [posts]="posts"></posts>
  <ion-infinite-scroll (ionInfinite)="showMore($event)">
   <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando postagens...">
   </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
