<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Fórum</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <div padding text-center>
      <p>
        Este é um espaço de sugestões, discussões e debates!
      </p>
      <button ion-button (click)="add()">
        Criar novo tópico
      </button>
    </div>
    <ion-searchbar [(ngModel)]="filters.search" (ionInput)="search()" placeholder="Procurar"></ion-searchbar>
    <div *ngIf="topics && topics.length == 0 && !searching" text-center padding>
      <p>Nenhum ítem encontrado</p>
    </div>
    <ion-list>
      <ion-item-sliding *ngFor="let topic of topics">
        <button ion-item (click)="open(topic._id)">
          <ion-avatar item-start >
            <avatar [user]="topic.user"></avatar>
          </ion-avatar>
          <h2>{{topic.title}}</h2>
          <p>{{ (topic.updated_at || topic.$createdAt) | timeAgo }}</p>
          <ion-note item-end>
            <div>
              <strong>{{topic.comments.length}}</strong>
            </div>
          </ion-note>

 				</button>
      </ion-item-sliding>
      <ion-infinite-scroll (ionInfinite)="showMore($event)">
       <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando tópicos...">
       </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>
