<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Conteúdo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="delete(form.value)" *ngIf="form.controls._rev.value">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="save()" [disabled]="!isReadyToSave" strong>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
		<picture-upload [form]="form"></picture-upload>
    <div *ngIf="form.controls.oembed.value" [innerHTML]="form.controls.oembed.value | safe: 'html'">      
    </div>
    <ion-item>
      <ion-label stacked>Link da publicação</ion-label>
      <ion-input formControlName="url" (change)="loadEmbed()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Título</ion-label>
      <ion-input type="text" formControlName="title" (keyup)="generateId()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <!-- <ion-textarea formControlName="content"></ion-textarea> -->
    </ion-item>
    <text-editor [form]="form"></text-editor>
    <ion-label stacked>Palavras chave</ion-label>
    <tag-input formControlName="tags" [placeholder]="'+ Palavra chave'" [secondaryPlaceholder]="''" [separatorKeyCodes]="[9]">
      <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="autocompleteTags" ></tag-input-dropdown>
    </tag-input>

	</form>
</ion-content>
