page-post-form {
	.tag-input .input-wrapper {
		align-items: flex-start;
		ion-tags-input {
		 	width: 100%;
		 	input {
		 		width: 100%;
		 	}
		}
	}

	.categories {
		text-align: center;
		ion-icon {
			font-size: 50px;
			display: block;
			color: color($colors, primary)
		}
		span {
			font-size: 12px;
		}
		ion-col {
			cursor: pointer;
		}
	}
}
