<ion-header>

  <ion-navbar>
    <ion-title *ngIf="post">{{post.title}}</ion-title>
    <ion-buttons end>
      <button *ngIf="post" ion-button icon-only (click)="edit(post._id)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding *ngIf="post">
  <div *ngIf="post.oembed" [innerHTML]="post.oembed | safe: 'html'"></div>
  <img-loader *ngIf="!post.oembed" spinner="true" [src]="this.api.imageUrl(post.picture)" useImg></img-loader>
  <h1>{{post.title}}</h1>
  <div padding-bottom>
    <p [innerHTML]="post.content | safe: 'html'" class="ql-editor preview"></p>
    <user [item]="post"></user>     
  </div>
</ion-content>
