<ion-header>

  <ion-navbar>
    <ion-title *ngIf="post">{{post.title}}</ion-title>
    <ion-buttons end>
      <button *ngIf="post" ion-button icon-only (click)="edit(post._id)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div *ngIf="post">
    <div *ngIf="post.oembed" [innerHTML]="post.oembed | safe: 'html'"></div>
    <img img-cache [source]="this.api.imageUrl(post.picture, 'medium')" *ngIf="!post.oembed && post.picture">
    <br>
    <h1>{{post.title}}</h1>
    <div padding-bottom>
      <p [innerHTML]="post.content | safe: 'html'" class="ql-editor preview"></p>
      <a *ngIf="post.url && post.content && post.content.indexOf('…') >= 0" [href]="post.url" target="_blank">Continuar lendo</a>
      <div *ngIf="post.category =='event'">
        <p *ngIf="post.start_time && post.end_time">De: <strong>{{ post.start_time| date: 'dd/MM/yyyy' }}</strong> à <strong>{{ post.end_time| date: 'dd/MM/yyyy' }}</strong></p>
        <p *ngIf="post.start_time && !post.end_time">Dia <strong>{{ post.start_time| date: 'dd/MM/yyyy' }}</strong></p>
        <p>Local: <strong>{{ post.location }}</strong></p>
      </div>
      <a *ngIf="post.category == 'book' && post.picture && post.picture.url && !post.url" [href]="this.api.imageUrl(post.picture)" target="_blank">Baixar Livro</a>
      <a *ngIf="post.url && post.content && post.content.indexOf('…') < 0" [href]="post.url" target="_blank">{{post.category == 'book' ? 'Baixar Livro' : 'Fonte'}}</a>
      <br>
      <br>
      <ion-chip *ngFor="let tag of tags">
        <ion-label>#{{tag}}</ion-label>
      </ion-chip>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-buttons left class="vote">
            <button ion-button color="primary" clear small icon-start (click)="like(post)">
              <ion-icon name='thumbs-up'></ion-icon>
              ({{ post.likes && post.likes.length > 0 ? post.likes.length : 0 }})
            </button>
            <button ion-button color="primary" clear small icon-start (click)="dislike(post)">
              <ion-icon name='thumbs-down'></ion-icon>
              ({{ post.dislikes && post.dislikes.length > 0 ? post.dislikes.length : 0 }})
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <comments [item]="post" item_type="post"></comments>
      <br>

      <user [item]="post"></user>
      <br>
      <br>
    </div>
  </div>
</ion-content>
