<ion-header no-shadow>
  <ion-navbar *ngIf="showSkip">
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Pular introdução</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide>
      <img src="assets/img/logo_full.png" class="slide-image first" />
      <h3>Rede Agroflorestal!</h3>
      <p>Esta é uma plataforma de construção colaborativa de conhecimento sobre Agroflorestas.</p>
      <p>A idéia é criar-mos uma base de dados e um canal de comunicação e difusão dos conhecimentos.
      </p>
      <h5 class="slide-title">Seja bem vindo!</h5>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/logo_full.png" class="slide-image" />
      <h3> Caracteristicas </h3>
      <ul>
        <li> - Conteúdo criado e mantido de forma colaborativa.</li>
        <li> - Qualquer pessoa pode criar ou alterar qualquer conteúdo.</li>
        <li> - O Código fonte é aberto (open source).</li>
        <li> - Disponível offline.</li>
        <li> - Sem banners e publicidade.</li>
      </ul>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/logo_full.png" class="slide-image last" />
      <h4>Vamos fazer juntos? </h4>
      <br>
      <button ion-button color="primary" large (click)="startApp()">
         Continuar
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
