page-welcome {
  .splash-bg {
    position: relative;
    background: url('https://i1.wp.com/permaculturaceara.org.br/wp/conteudo/uploads/2015/06/8.jpg?resize=680%2C330') no-repeat transparent;
    background-size: cover;
    height: 42%;
    z-index: 1;
    background-repeat: repeat-x;
    // animation: animatedBackground 10s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/logo.png') repeat #fff;
    background-size: 100%;
    width: 128px;
    height: 128px;
    border-radius: 10%;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    p {
      margin: 0;
      color: #333;
    }
    small {
      color: #555
    }
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
