<ion-item *ngIf="user">
	<ion-avatar item-start>
	  <img img-cache [source]="this.api.imageUrl(user.picture, 'thumbs')"> 
	</ion-avatar>
  <ion-row>
    <ion-col>
			<h5>{{ user.name }}</h5>
    </ion-col>
  	<ion-col>
			<small float-end>{{ comment.created_at | timeAgo }}</small>
    </ion-col>
  </ion-row>

	<p>
		<span>{{ comment.message }}</span>
		<small><ion-icon *ngIf="userDb.currentUser && userDb.currentUser._id == comment.user_id" name="trash" (click)="delete()"></ion-icon></small>

	</p>
</ion-item>
