<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'PLANTS_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)" placeholder="Procurar"></ion-searchbar>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-select [(ngModel)]="filters.cycle" (ionChange)="search()" interface="popover" >
          <ion-option value="">Todos os ciclos</ion-option>
          <ion-option *ngFor="let cycle of Object.keys(database.cycles)" [value]="cycle">{{database.cycles[cycle]}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="filters.stratum" (ionChange)="search()" interface="popover">
          <ion-option value="">Todos os estratos</ion-option>
          <ion-option *ngFor="let stratum of Object.keys(database.stratums)" [value]="stratum">{{database.stratums[stratum]}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item-sliding *ngFor="let plant of plants">
      <button ion-item (click)="open(plant._id)">
        <ion-avatar item-start>
          <img img-cache [source]="this.api.imageUrl(plant.picture, 'thumbs')">
        </ion-avatar>
        <h2>{{plant.name}}</h2>
        <p>{{plant.scientific_name}}</p>
<!--         <ion-note item-end>
          <div *ngIf="plant.cycle">
            <p>Ciclo: <strong>{{database.cycles[plant.cycle]}}</strong></p>
          </div>
          <div *ngIf="plant.stratum">
            <p>Estrato: <strong>{{database.cycles[plant.stratum]}}{{plant.stratum}}</strong></p>
          </div>
        </ion-note>
 -->      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>