<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'PLANTS_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)" placeholder="Procurar"></ion-searchbar>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-select [(ngModel)]="filters.cycle" (ionChange)="search()" interface="popover" >
          <ion-option value="">Todos os ciclos</ion-option>
          <ion-option *ngFor="let cycle of Object.keys(items.cycles)" [value]="cycle">{{items.cycles[cycle]}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="filters.stratum" (ionChange)="search()" interface="popover">
          <ion-option value="">Todos os estratos</ion-option>
          <ion-option *ngFor="let stratum of Object.keys(items.stratums)" [value]="stratum">{{items.stratums[stratum]}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items.itemsList">
      <button ion-item (click)="open(item._id)">
        <ion-avatar item-start>
          <img-loader [src]="this.api.imageUrl(item.picture, 'static/thumbs/')" useImg></img-loader>
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>