<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Catálogo de espécies</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <ion-searchbar [(ngModel)]="filters.search" (ionInput)="search()" placeholder="Procurar"></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-select [(ngModel)]="filters.cycle" (ionChange)="search()" interface="popover" >
            <ion-option value="">Todos os ciclos</ion-option>
            <ion-option *ngFor="let cycle of Object.keys(database.cycles)" [value]="cycle">{{database.cycles[cycle]}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="filters.stratum" (ionChange)="search()" interface="popover">
            <ion-option value="">Todos os estratos</ion-option>
            <ion-option *ngFor="let stratum of Object.keys(database.stratums)" [value]="stratum">{{database.stratums[stratum]}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="plants && plants.length == 0 && !searching" text-center padding>
      <p>Nenhum ítem encontrado</p>
    </div>
    <ion-list>
      <ion-item-sliding *ngFor="let plant of plants">
        <button ion-item (click)="open(plant._id)">
          <ion-avatar item-start>
            <img img-cache [source]="this.api.imageUrl(plant.picture, 'thumb')">
          </ion-avatar>
          <h2>{{plant.name}}</h2>
          <p *ngIf="plant.scientific_name">{{plant.scientific_name}}</p>
        </button>
      </ion-item-sliding>
      <ion-infinite-scroll (ionInfinite)="showMore($event)">
       <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando espécies...">
       </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>
