<div>
  <div *ngIf="item" class="comments">
    <div *ngIf="loading" class="text-center">
      <ion-spinner></ion-spinner>
      <p>Carregando comentários...</p>
    </div>
    <div *ngIf="!loading">
      <div *ngFor="let comment of comments">
        <ion-item *ngIf="comment.user">
        	<ion-avatar item-start>
        	  <img img-cache [source]="this.api.imageUrl(comment.user.picture, 'thumb')" noitem="assets/img/no-user.png">
        	</ion-avatar>
    			<h5>{{ comment.user.name }}</h5>
        	<p><span>{{ comment.message }}</span></p>
          <small float-end>{{ comment.createdAt | timeAgo }} &nbsp;&nbsp;<ion-icon *ngIf="database.currentUser && database.currentUser._id == comment.user._id" name="trash" (click)="delete(comment)"></ion-icon></small>
        </ion-item>
      </div>
      <ion-label stacked>{{comments && comments.length > 0 ? 'Deixe seu comentário:' : 'Seja o primeiro a comentar:' }}</ion-label>
      <ion-textarea [(ngModel)]="message"></ion-textarea>
      <button ion-button (click)="comment()" [disabled]="!message">Comentar</button>
    </div>
  </div>
</div>
