<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)" placeholder="Procurar"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items.itemsList">
      <button ion-item (click)="open(item)">
        <ion-avatar item-start>
          <img [src]="this.api.url + 'static/thumbs/'+ item.picture" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>