<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="doSignup()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="api.processWebImage($event, this.form)" />
    <div class="preview-image-wrapper" (click)="getPicture()">
      <div class="preview-image-placeholder" *ngIf="!this.form.controls.picture.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_FORM_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="preview-image" [style.backgroundImage]="this.api.preview" *ngIf="this.form.controls.picture.value"></div>
      <div *ngIf="this.api.loading">Enviando imagem...</div>
    </div>

    <ion-item>
      <ion-label stacked>{{ 'NAME' | translate }}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
      <ion-input type="email" formControlName="_id"></ion-input>
    </ion-item>

    <div>
      <button ion-button color="primary" block [disabled]="!isReadyToSave">CONTINUAR</button>
    </div>
  </form>
</ion-content>