<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ITEM_FORM_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="delete(form.value)" *ngIf="form.controls._id.value">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="save()" [disabled]="!isReadyToSave" strong>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form *ngIf="form" [formGroup]="form">
    <picture-upload [form]="this.form" [type]="'image'"></picture-upload>
    <ion-item>
      <ion-label stacked>Nome*:</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome científico:</ion-label>
      <ion-input type="text" formControlName="scientific_name"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.conflict">
      <p ion-text>Já existe um item cadastrado 
        com esse nome por favor 
        <a (click)="edit()">edite-o</a> 
      </p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição*:</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ciclo:</ion-label>
      <ion-select formControlName="cycle" interface="popover" >
        <ion-option *ngFor="let cycle of Object.keys(database.cycles)" [value]="cycle">{{database.cycles[cycle]}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Estrato:</ion-label>
      <ion-select formControlName="stratum" interface="popover">
        <ion-option *ngFor="let stratum of Object.keys(database.stratums)" [value]="stratum">{{database.stratums[stratum]}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Colheita:</ion-label>
      <ion-input formControlName="harvest_time" placeholder="ex: 45 dias"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Espaçamento:</ion-label>
      <ion-input formControlName="spacing" placeholder="ex: 45cm"></ion-input>
    </ion-item>
    <ion-label stacked>Plantas companheiras:</ion-label>
    <tag-input formControlName="companion_plants" [placeholder]="'+ Planta'" [secondaryPlaceholder]="'+ Plantas'" [separatorKeyCodes]="[9]">
      <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="autocompleteCompanions" ></tag-input-dropdown>
    </tag-input>

    <div formArrayName="additional_fields" *ngFor="let additional_field of form.get('additional_fields').controls; let i = index;">
      <div [formGroupName]="i">
        <div *ngIf="i < database.additional_fields.length">
          <ion-item>
            <ion-label stacked>{{form.controls.additional_fields.controls[i].controls.name.value}}:</ion-label>
            <ion-textarea formControlName="content"></ion-textarea>
          </ion-item>
        </div>
        <div *ngIf="i >= database.additional_fields.length">
          <br>
          <ion-item>
            <ion-label stacked>Título do novo campo:</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Conteúdo:</ion-label>
            <ion-textarea formControlName="content"></ion-textarea>
          </ion-item>
        </div>
      </div>
    </div>
  </form>
  <br>
  <ion-buttons end>
    <button ion-button  icon-end small (click)="addAdditionalField()" color="light">
      Adicionar mais campos no formulário
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
  <br>
</ion-content>  